*{
    background-color: #45075c;
}
body {
    text-align: center;
}
button {
    box-shadow: 30px 30px black;
    font-family: 'Comfortaa';
    font-size: 50px;
    height: 400px;
    border-radius: 80px;
    margin-top: 8%;
    margin-left: 2%;
}
.create {
    left: 25%;
    background-color: #4762e5;

    width: 30%;
    float: left;
}
.answers {
    background-color: #38b943;

    width: 30%;
    float: left;
}
.open {
    width: 30%;
    float: left;
    margin-top: 7%;
    background-color: #edcb51;
    box-shadow: 30% 30% black;
}
.review {
    background-color: #e57747;
    margin-top: 3%;
    height: 150px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}