*{
    background-color: #45075c;
}
h1 {
    font-family: 'Comfortaa';
    font-size: 50px;
    margin-top: 4%;
    color: white;

}
body {
    text-align: center;
    margin-top: 1%;
}
input {
    margin-top: 40px;
    height: 400px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 15px 20px black;
    font-size: 45px;
    transition: 0.5s;

}
.login {
    background-color: #299dcf;
    float: left;
    margin-left: 25%;
}
.pass {
    background-color: #38b943;
    float: left;
    margin-left: 5%;
}
.check {
    background-color: white;
    margin-top: 80px;

    height: 100px;
    width: 400px;
    border-radius: 30px;
    font-family: 'Comfortaa';
    font-size: 30px;
    background-color: #edcb51;
    box-shadow: 15px 20px black;
    margin-top: 500px;
    margin-left: -75%;
}